{% extends "basearticle.html" %}


{% block content %}

<h2><a id="about" name="about">关于</a></h2>
</br>
<p>悦览记是一个发布展览设计相关评论文章的独立平台。平台正在建设中，感谢您的来访。</p>
<p>悦览记是一个发布展览设计相关评论文章的独立平台。平台正在建设中，感谢您的来访。</p>
<p>悦览记是一个发布展览设计相关评论文章的独立平台。平台正在建设中，感谢您的来访。</p>
<p>悦览记是一个发布展览设计相关评论文章的独立平台。平台正在建设中，感谢您的来访。</p>
</br>
<h2><a id="contact" name="contact">联系我们</a></h2>
</br>
<p>Email:yuelanji@yuelanji.com</p>
<p>Email:yuelanji@yuelanji.com</p>
<p>Email:yuelanji@yuelanji.com</p>
</br>
<h3><a id="weibo" name="weibo">悦览记·官方微博</a></h3>

<p>请扫描下方二维码</p>
<img src='{{ STATIC_URL}}img/weibo.png'>
</br>
</br>
<h3><a id="wechat" name="weichat">悦览记·微信公众号</a></h3>

<p>请扫描下方二维码</p>
<img src='{{ STATIC_URL}}img/wechat.png' class='img-responsive'>
</br>
{% endblock %}